body{
  margin: 0;
  padding: 0;
  background: url(about_pozadina4.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
#about_container, #about_container div {
    /*margin: 10% 5%;*/
    font-size: 15px;
    color:#fff;
    text-align: center;
    height: 80%;
    width: 70%;
    left: 15%;
    background-color: rgba(0,0,0,.7);
    border-radius: 15px;
    padding: 5px 10px;
    position: relative;
}
#about_container h1{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
#about_container h2{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
#about_container h3{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
#about_container h4{
    color:#fff;
    font-size: 50px;
    font-weight: bold;
}