.profilebox{
    width: 650px;
    height: 450px;
    background: rgba(0,0,0,.5) ;
    position: relative;
    box-sizing: border-box;
    top: 25%;
    left: 33%;
    padding: 30px;
    color: #fff;
    animation-name: animacija1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    border-radius: 15px;
}
@keyframes animacija1{
    0%  {background-color:rgba(0,0,0,.5);}
    10% {background-color:rgba(0,0,0,.4);}
    20% {background-color:rgba(0,0,0,.5);}
    30% {background-color:rgba(0,0,0,.4);}
    40% {background-color:rgba(0,0,0,.5);}
    50% {background-color:rgba(0,0,0,.4);}
    60% {background-color:rgba(0,0,0,.5);}
    70% {background-color:rgba(0,0,0,.4);}
    80% {background-color:rgba(0,0,0,.5);}
    90% {background-color:rgba(0,0,0,.4);}
    100% {background-color:rgba(0,0,0,.5);}
  }
.profilebox h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0 0 20px;
    font-weight: bold;
}
.profilebox label{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}
.profilebox p{
    display: inline;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.poljezatekst{
    margin: 5px 0 25px 0;
}
.profilebox input{
    width: 40%;
    margin: 0 170px 100px;
  }
.profilebox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: darkgreen;
  color: yellow;
  font-size: 18px;
  border-radius: 20px;
  transition-duration: 0.5s;
}
.profilebox input[type="submit"]:hover
{
  cursor: pointer;
  background: #fb2525;
  color: #fff;
}