#header{
    margin: 0;
    padding: 0;
    background-color: rgb(179, 61, 61);
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
}

#container{
    width: 80%;
    margin-left: 10%;
    padding: 5px;
}

#title{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(223, 208, 10);
    text-align: center;
}

#header nav{
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: rgb(110, 105, 105);
}

#header nav div{
    position: relative;
    display: inline-block;
    margin: 0 2px 0 2px;
    padding: 0;
    width: 24%;
    text-align: center;
    background-color: rgb(214, 96, 96);
}

#header nav div:hover{
    width: 26%;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(16, 188, 245);
    color: #fff;
    transition: 0.2s;
}

#header nav a{
    text-decoration: none;
    color: black;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}