body{
  margin: 0;
  padding: 0;
  background: url(about_pozadina4.jpg);
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
div {
    margin: 10% 5%;
    font-size: 15px;
    color:#fff;
    text-align: left;
    height: 80%;
    width: 70%;
    background-color: rgba(0,0,0,.7);
    border-radius: 15px;
    padding: 5px 10px;
    position: relative;
}
h1{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
h2{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
h3{
    color:#fff;
    font-size: 35px;
    font-weight: bold;
}
h4{
    color:#fff;
    font-size: 50px;
    font-weight: bold;
}